<%-include('layout/header');-%>
<div class="container">
	<div class="row">
		<div class="col-md-6 mt-5">
			 <div class="card">
			 	<div class="card-header"><h6>Detail Produk</h6></div>
			 	<div class="card-body">
			 		<img src="/image/<%=data[0].image_products%>" alt="" width="100px" height="100px">
			 		<ul>
			 			<li>Nama <%=data[0].name_products%> </li>
			 			<li>Harga <%=data[0].price_products%></li>
			 		</ul>
			 		<a href="/" class="btn btn-success btn-sm">Kembali</a>
			 	</div>
			 </div>
			</div>
		</div>
	</div>
</div>
<%-include('layout/footer');-%>